:root {
  --ks-noto-serif: "Noto Serif KR", serif;
  --ks-noto-sans-serif: "Noto Sans KR", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  height: auto;
}

body {
  height: 100%;
}

li,
ol,
ul,
a {
  list-style: none;
  text-decoration: none;
}
